{
  "db": {
    "connectionLimit" : 10,
    "host"     : "",
    "user"     : "",
    "password" : "",
    "database" : ""
  },
  "coinpayments": {
    "key": "",
    "secret": "",
    "merchId": "",
    "merchSecret": ""
  },
  "redis": {
    "url": "",
    "cache_db": 1,
    "socket_db": 2
  }
}