doctype html
html
  head
    title= Cryptonate
  body
    h1#whodonated
    h2#howmuch
    h3#message
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
    script.
      var listenTo = "#{alertboxKey}";
    script(src="/js/alertbox-control.js")